
<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <style>
            {#asset bootstrap.css @encoding=utf8}
        </style>
    </head>
    <body>
        <div class="container-fluid">
        {{#each chart}}
            <table class="table table-borderless table-responsive-md" cellpadding="0" cellspacing="0">
                <thead>
                    <tr align="right">
                        <th colspan="8">ชื่อบัญชี/รหัสบัญชี : {{name}}/{{code}}</th>
                    </tr>
                    <tr class="table-bordered" align="center">
                        <th style="width: 10%;">วันที่</th>
                        <th style="width: 12%;">เลขที่เอกสาร</th>
                        <th style="width: 12%;">ชื่อบัญชีอ้างอิง</th>
                        <th style="width: 10%;">รหัสบัญชี</th>
                        <th style="width: 20%;">คำอธิบาย</th>
                        <th style="width: 12%;">เดบิต</th>
                        <th style="width: 12%;">เครดิต</th>
                        <th style="width: 12%;">ยอดคงเหลือ</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each ../glkeep}}
                    {{#ifEq ../id chid}}
                    <tr class="border-left border-right">
                        <td class="border-left border-right" align="center">{{glhdate}}</td>
                        <td class="border-left border-right">{{doc_no}}</td>
                        <td class="border-left border-right">{{chart}}</td>
                        <td class="border-left border-right">{{code}}</td>
                        <td class="border-left border-right">{{glhdetail}}</td>
                        <td class="border-left border-right" align="right">{{dr}}</td>
                        <td class="border-left border-right" align="right">{{cr}}</td>
                        <td class="border-left border-right" align="right">{{answer}}</td>
                    </tr>
                    {{/ifEq}}
                    {{/each}}
                    <tr class="border-top">
                        <td colspan="5"></td>
                        {{#each ../resoul}}
                        {{#ifEq chid ../id}}
                        <td class="border" align="right">{{dr}}</td>
                        <td class="border" align="right">{{cr}}</td>
                        <td></td>
                        {{/ifEq}}
                        {{/each}}
                    </tr>
                    <tr class="border">
                        <td colspan="7" align="center">ยอดคงเหลือยกไป</td>
                        {{#each ../resoul}}
                        {{#ifEq chid ../id}}
                        <td class="border" align="right">{{answer}}</td>
                        {{/ifEq}}
                        {{/each}}
                    </tr>
                </tbody>
            </table>
        </div>
        {{#if @last}}<p class="text-center">***จบรายงาน***</p>{{/if}}
        <div style="page-break-before: always;"></div>
        {{/each}}
        </div>
    </body>
</html>
