<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <style>
            {#asset styles.css @encoding=utf8}
        </style>        
    </head>
    <body>
        {{#each $pdf.pages}}
            {{#if @index}}
                <div style="page-break-before: always;"></div>
            {{/if}}
            <main class="main"> 
                <header class="header">
                <div class="container-fluid">
                    <table cellpadding="0" cellspacing="0" class="table table-borderless table-responsive-md">
                        <tr class="top">
                            <td width="20%"></td>
                            <td></td>
                            <td align="right" width="20%">Page {{getPageNumber @index}}</td>
                        </tr>
                    </table>
                </div>
            </header>
          </main>
        {{/each}}
    </body>
</html>