<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <style>
            {#asset styles.css @encoding=utf8}
        </style>        
    </head>
    <body>
        <div class="container-fluid">
            <table cellpadding="0" cellspacing="0" class="table table-borderless border-bottom table-responsive-md">
                {{#each keepcategory}}
                <tr>
                    <th width="30%">{{name}}</th>
                    <td width="14%"></td>
                    <td width="14%"></td>
                    <td width="14%"></td>
                    <td width="14%"></td>
                    <td width="14%"></td>
                </tr>    
                {{#each ../keeptypeacc}}
                {{#ifEq category_id ../id}}
                <tr>
                    <td width="30%">{{name}}</td>
                    <td width="14%"></td>
                    <td width="14%"></td>
                    <td width="14%"></td>
                    <td width="14%"></td>
                    <td width="14%"></td>
                </tr>
                {{#each ../../keepchart}}
                {{#ifEq typeAcc_id ../id}}
                <tr>
                    <td width="30%"><pre>{{name}}</pre></td>
                    <td width="14%">{{code}}</td>
                    <td width="14%" align="right"></td>
                    <td width="14%" align="right"></td>
                    <td width="14%" align="right">{{sum}}</td>
                    <td width="14%" align="right"></td>
                </tr>
                {{/ifEq}}
                {{/each}}
                <tr class="border-bottom-gray">
                    <td width="30%">รวม{{name}}</td>
                    <td width="14%"></td>
                    <td width="14%"></td>
                    <td width="14%"></td>
                    <td width="14%" align="right">{{sum}}</td>
                    <td width="14%"></td>
                </tr>
                {{/ifEq}}
                {{/each}}
                <tr class="border-bottom">
                    <th width="30%">รวม{{name}}</th>
                    <td width="14%"></td>
                    <td width="14%"></td>
                    <td width="14%"></td>
                    <th width="14%" class="text-right">{{sum}}</th>
                    <td width="14%"></td>
                </tr>
                {{/each}}
                {{#each lastanswer}}
                <tr class="border-bottom-double">
                    <th width="30%">{{name}}</th>
                    <td width="14%"></td>
                    <td width="14%"></td>
                    <td width="14%"></td>
                    <th width="14%" class="text-right">{{sum}}</th>
                    <td width="14%"></td>
                </tr>
                {{/each}}
            </table>
            <p class="text-center">***จบรายงาน***</p>
        </div>
    </body>
</html>