
<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <style>
            {#asset bootstrap.css @encoding=utf8}
        </style>
    </head>
    <body>
        <div class="container-fluid" style="page-break-inside: auto;">
            <table class="table" cellpadding="0" cellspacing="0">
                <thead class="table-bordered">
                    <tr align="center">
                        <th style="width: 10%;">วันที่</th>
                        <th style="width: 15%;">เลขที่เอกสาร</th>
                        <th style="width: 30%;">รายการ</th>
                        <th style="width: 15%;">รหัสบัญชี</th>
                        <th style="width: 15%;">เดบิต</th>
                        <th style="width: 15%;">เครดิต</th>
                    </tr>
                </thead>
                <tbody class="border-bottom">
                    {{#each glheads}}
                        <tr>
                            <td class="border-left border-right " align="center">{{date}}</td>
                            <td class="border-left border-right">{{doc_no}}</td>
                            <td class="border-left border-right">
                                <table class="table table-borderless table-responsive-md">
                                    {{#each ../gldetaildr }}
                                        {{#ifEq ../glhid glheads_id}}
                                            <tr>
                                                <td>{{chart}} </td>
                                            </tr>
                                        {{/ifEq}}
                                    {{/each}}
                                    {{#each ../gldetailcr}}
                                        {{#ifEq ../glhid glheads_id}}
                                            <tr>
                                                <td>
                                                    <pre>{{chart}}</pre>
                                                </td>
                                            </tr>
                                        {{/ifEq}}
                                    {{/each}}
                                    <tr>
                                        <td>
                                            ({{detail}})
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td class="border-left border-right">
                                <table class="table table-borderless table-responsive-md">
                                    {{#each ../gldetaildr }}
                                        {{#ifEq ../glhid glheads_id}}
                                            <tr>
                                                <td>{{code}}</td>
                                            </tr>
                                        {{/ifEq}}
                                    {{/each}}
                                    {{#each ../gldetailcr}}
                                        {{#ifEq ../glhid glheads_id}}
                                            <tr>
                                                <td>{{code}}</td>
                                            </tr>
                                        {{/ifEq}}
                                    {{/each}}
                                    <tr>
                                        <td></td>
                                    </tr>
                                </table>
                            </td>
                            <td class="border-left border-right">
                                <table class="table table-borderless table-responsive-md">
                                    {{#each ../gldetaildr }}
                                        {{#ifEq ../glhid glheads_id}}
                                            <tr>
                                                <td align="right">{{numberFormat2 dr}}</td>
                                            </tr>
                                        {{/ifEq}}
                                    {{/each}}
                                    {{#each ../gldetailcr }}
                                        {{#ifEq ../glhid glheads_id}}
                                            <tr>
                                                <td></td>
                                            </tr>
                                        {{/ifEq}}
                                    {{/each}}
                                    <tr>
                                        <td></td>
                                    </tr>
                                </table>
                            </td>
                            <td class="border-left border-right">
                                <table class="table table-borderless table-responsive-md">
                                    {{#each ../gldetaildr }}
                                        {{#ifEq ../glhid glheads_id}}
                                            <tr>
                                                <td></td>
                                            </tr>
                                        {{/ifEq}}
                                    {{/each}}
                                    {{#each ../gldetailcr }}
                                        {{#ifEq ../glhid glheads_id}}
                                            <tr>
                                                <td align="right">{{numberFormat2 cr}}</td>
                                            </tr>
                                        {{/ifEq}}
                                    {{/each}}
                                    <tr>
                                        <td></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
            <p class="text-center">***จบรายงาน***</p>
        </div>
    </body>
</html>
