<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <style>
            {#asset bootstrap.css @encoding=utf8}
        </style>
    </head>
    <body>
        <div class="container-fluid" style="width: 100%; padding-bottom: 20px; border-top: 1px solid black;">
                <table class="table border-top table-responsive-md" cellpadding="0" cellspacing="0">  
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
    </body>
</html>