<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <style>
            {#asset bootstrap.css @encoding=utf8}
        </style>
    </head>
    <body>
        <div class="container-fluid">
            <header>
                <table class="table table-borderless table-responsive-md" cellpadding="0" cellspacing="0">  
                    <td width="10%" align="left">{{#each now_date}}{{date}}<br></br>{{time}}{{/each}}</td>
                    <th>
                        <div class="text-center">
                            <h4><b>{{#each company}}{{name}}{{/each}}</b></h4>
                            <p>- {{#each reportname}}{{name}}{{/each}} -</p>
                            <p>{{#each th_date}}ตั้งแต่วันที่ {{f_date}} จนถึงวันที่ {{l_date}} {{/each}}</p>
                        </div>
                    </th>
                    <td width="10%" align="right"></td>
                </table>
            </header>