
<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <style>
            {#asset bootstrap.css @encoding=utf8}
        </style>
    </head>
    <body>
        <div class="container-fluid" style="page-break-inside: auto;">
            <din style="margin-right: 50%;">
                {{#each company}}
                <h4><b>{{name}} ({{branchNo}})</b></h4>
                <h5>ที่อยู่ {{address}}</h5>
                <h5>ตำบล{{districts}} อำเภอ{{amphures}} จังหวัด{{provinces}} รหัสไปรษณีย์ {{zip_code}}</h5>
                <h5>โทร {{phone}}</h5>
                {{/each}}
            </din>
            <br></br>
            <div style="margin-left: 40%; margin-right: 10%;">
                <h4 class="text-info">กรุณานำส่ง</h4>
                {{#each contactname}}
                    <h4><b>{{company}} ({{branch}})</b></h4>
                    {{#each ../addressdelivery}}
                        <h5>ที่อยู่ {{address}}</h5>
                        <h5>ตำบล{{districts}} อำเภอ{{amphures}} จังหวัด{{provinces}} รหัสไปรษณีย์ {{zip_code}}</h5>
                    {{/each}}
                    <h5>เบอร์สำนักงาน {{officephone}} มือถือ {{mobile}}</h5>
                {{/each}}
            </div>
        </div>
    </body>
</html>
