<html>
    <head>
        <style>
            {#asset bootstrap.css @encoding=utf8}
        </style>
    </head>
    <body>
        {{#each $pdf.pages}}
          {{#if @index}}
            <div style="page-break-before: always;"></div>
          {{/if}}
              <div class="container-fluid">
                <header>
                    <table class="table table-borderless table-responsive-md" cellpadding="0" cellspacing="0">
                        <thead>
                            <td width="10%" align="left"></td>
                            <th></th>
                            <td width="10%" align="right">Page {{getPageNumber @index}}</td>
                        </thead>
                    </table>
                </header>
              </div>
        {{/each}}
    </body>
</html>