<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <style>
            {#asset styles.css @encoding=utf8}
        </style>        
    </head>
    <body>
        <div class="container-fluid">
            <table cellpadding="0" cellspacing="0" class="table table-borderless table-responsive-md">
                <tr class="border-bottom">
                    <td align="left" width="20%">
                        {{#each now_date}}{{date}}<br>{{time}}</br>{{/each}}
                    </td>
                    <td align="center">
                        <h4><b>{{#each company}}{{name}}{{/each}}</b></h4>
                        <p>-{{#each reportpattern}}{{name}}{{/each}}-</p>
                        <p>{{#each th_date}}ณ วันที่ {{l_date}}{{/each}}</p>
                    </td>
                    <td width="20%"></td>
                </tr>
            </table>
        </div>
    </body>
</html>