
<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <style>
            {#asset bootstrap.css @encoding=utf8}
        </style>
    </head>
    <body>
        <div class="container-fluid">
            <table class="table table-borderless table-responsive-md" cellpadding="0" cellspacing="0">
                <thead class="table-bordered">
                    <tr align="center">
                        <th rowspan="2" style="width: 20%;">ชื่อบัญชี</th>
                        <th rowspan="2" style="width: 8%;">รหัสบัญชี</th>
                        <th colspan="2" style="width: 24%;">ยอดยกมาต้นงวด</th>
                        <th colspan="2" style="width: 24%;">ระหว่างงวด</th>
                        <th colspan="2" style="width: 24%;">ยอดคงเหลือ</th>
                    </tr>
                    <tr align="center">
                        <th style="width: 12%;">เดบิต</th>
                        <th style="width: 12%;">เครดิต</th>
                        <th style="width: 12%;">เดบิต</th>
                        <th style="width: 12%;">เครดิต</th>
                        <th style="width: 12%;">เดบิต</th>
                        <th style="width: 12%;">เครดิต</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each glkeep}}
                    <tr class="table-bordered-gray {{#if @last}}border-bottom{{/if}} border-lr">
                        <td class="border-lr">{{chname}}</td>
                        <td class="border-lr">{{chcode}}</td>
                        <td class="border-lr" align="right">{{#ifEq begdr 0.00}}{{else}}{{begdr}}{{/ifEq}}</td>
                        <td class="border-lr" align="right">{{#ifEq begcr 0.00}}{{else}}{{begcr}}{{/ifEq}}</td>
                        <td class="border-lr" align="right">{{#ifEq nowdr 0.00}}{{else}}{{nowdr}}{{/ifEq}}</td>
                        <td class="border-lr" align="right">{{#ifEq nowcr 0.00}}{{else}}{{nowcr}}{{/ifEq}}</td>
                        <td class="border-lr" align="right">{{#ifEq dr 0.00}}{{else}}{{dr}}{{/ifEq}}</td>
                        <td class="border-lr" align="right">{{#ifEq cr 0.00}}{{else}}{{cr}}{{/ifEq}}</td>
                    </tr>
                    {{/each}}
                    <tr>
                        <td></td>
                        <td></td>
                        {{#if total}}
                        {{#each total}}
                        <td class="whit-lr" align="right">
                            <div class="border-bottom-out">
                                <div class="border-top border-bottom-in">
                                    {{totalbegdr}}
                                </div>
                            </div>
                        </td>
                        <td class="whit-lr" align="right">
                            <div class="border-bottom-out">
                                <div class="border-top border-bottom-in">
                                    {{totalbegcr}}
                                </div>
                            </div>
                        </td>
                        <td class="whit-lr" align="right">
                            <div class="border-bottom-out">
                                <div class="border-top border-bottom-in">
                                    {{totalnowdr}}
                                </div>
                            </div>
                        </td>
                        <td class="whit-lr" align="right">
                            <div class="border-bottom-out">
                                <div class="border-top border-bottom-in">
                                    {{totalnowcr}}
                                </div>
                            </div>
                        </td>
                        <td class="whit-lr" align="right">
                            <div class="border-bottom-out">
                                <div class="border-top border-bottom-in">
                                    {{totaldr}}
                                </div>
                            </div>
                        </td>
                        <td class="whit-lr" align="right">
                            <div class="border-bottom-out">
                                <div class="border-top border-bottom-in">
                                    {{totalcr}}
                                </div>
                            </div>
                        </td>
                        {{/each}}
                        {{/if}}
                    </tr>
                </tbody>
            </table>
            <p class="text-center">***จบรายงาน***</p>
        </div>
    </body>
</html>
